/*Projetos*/
/*

configurações das classes abaixa estão no menu.css:
.centralizador

*/

#projetos {
    background-image: linear-gradient(to top, #352728, #8b4513);
    border-bottom: 1px solid rgba(255, 255, 255, 0.452);
}

.projetos {
    padding-top: 93px;
}

.projetos h2 .projetos a {
    text-align: center;
}

.projetos h2 {
    padding-bottom: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.link_git {
    margin: 0 auto;
    padding-top: 35px;
    padding-bottom: 93px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}

.projetos a {
    display: inline;
}

.projeto_link {
    background-color: #f5deb3;
    height: 195px;
    width: 310px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
    transition: ease-in-out 0.3s;
}

.projeto_link div p {
    font-family: sans-serif;
    font-size: 20px;
    color: #8E5D52;
    font-weight: bold;
}

.projeto_link:hover {
    letter-spacing: 5px;
}

.projetos_itens {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    width: 100%;
    justify-content: center;
}

@media (max-width:1200px) {
    .projetos {
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    #projetos {
        display: flex;
        justify-content: center;
    }
    .projetos_itens {
        margin: auto;
        width: 70%;
    }
}

@media (max-width:950px) {
    .projeto_link {
        max-width: 300px;
    }

    .projetos_itens {
        width: 100%;
        flex-direction: column;
    }
}